.animation-appear {
  -webkit-animation:appear 1s ease 0s 1 normal;
  -moz-animation:appear 1s ease 0s 1 normal;
  -ms-animation:appear 1s ease 0s 1 normal;
  animation:appear 1s ease 0s 1 normal;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    opacity: 1;
    transform: scale3d(1,1,1);
  }
}

.animation-in {
  -webkit-animation:in 1s ease 0s 1 normal;
  -moz-animation:in 1s ease 0s 1 normal;
  -ms-animation:in 1s ease 0s 1 normal;
  animation:in 1s ease 0s 1 normal;
}

@-webkit-keyframes in {
  0% {
    -webkit-transform: translate(-100vw, -30vh);
    transform: translate(-100vw, -30vh);
  }
}

@keyframes in {
  0% {
    transform: translate(-100vw, -30vh);
  }
}

.animation-out {
  -webkit-animation:out 1s ease 0s 1 normal;
  -moz-animation:out 1s ease 0s 1 normal;
  -ms-animation:out 1s ease 0s 1 normal;
  animation:out 1s ease 0s 1 normal;
}

@-webkit-keyframes out {
  100% {
    -webkit-transform: translate(-100vw, -30vh);
    transform: translate(-100vw, -30vh);
  }
}

@keyframes out {
  100% {
    transform: translate(-100vw, -30vh);
  }
}

.animation-fadein {
  -webkit-animation:fadein 1.5s ease 0s 1 normal;
  -moz-animation:fadein 1.5s ease 0s 1 normal;
  -ms-animation:fadein 1.5s ease 0s 1 normal;
  animation:fadein 1.5s ease 0s 1 normal;
}

@-webkit-keyframes fadein {
  0% {
    -webkit-background-origin: transparent;
    background-color: transparent;
  }
  100% {
    -webkit-background-origin: #fff;
    background-color: #fff;
  }
}

@keyframes fadein {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #fff;
  }
}

.animation-fadeout {
  -webkit-animation:fadeout 1s ease 0s 1 normal;
  -moz-animation:fadeout 1s ease 0s 1 normal;
  -ms-animation:fadeout 1s ease 0s 1 normal;
  animation:fadeout 1s ease 0s 1 normal;
}

@-webkit-keyframes fadeout {
  100% {
    -webkit-background-origin: transparent;
    background-color: transparent;
  }
}

@keyframes fadeout {
  100% {
    background-color: transparent;
  }
}