* {
    font-family: 'Courier New', Courier, monospace;
}

body {
  margin: 0em 0;
  overflow-y: hidden;
}

button {
  width: 90vw;
  margin: 0em 1em;
  font-weight: 500;
  font-size: 1.25em;
  padding: 0.5em 0em;
}

.hidden {
  display: none;
}

.playBox {
  top: 50%;
  left: 50%;
  width: 70vw;
  margin: auto;
  padding: 0em 0em;
  position: absolute;
  border: 1px solid #000;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.boxContainer {
  -webkit-box-shadow: 9px 8px 14px 13px rgba(0,0,0,0.31); 
  box-shadow: 9px 8px 14px 13px rgba(0,0,0,0.31);
}

.playBoxMargin {
  margin: 1.25em 1.25em;
}

.chatBox {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 0.5em 0.5em;
  letter-spacing: 0.25em;
}

.buttonBox {
  display: flex;
  padding: 1em 0.5em;
  justify-content: space-between;
}

.counterBox {
  display: flex;
  justify-content: space-between;
}

.selectBox {
  top: 0;
  right: 0;
  position: absolute;
  margin: 0.5em 0.5em;
}

.bg {
  min-height: 100vh;
  min-width: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.b1 {
  background-image: url("../assets/bg1.gif");
}

.b2 {
  background-image: url("../assets/bg2.gif");
}

.b3 {
  background-image: url("../assets/bg3.gif");
}

.b4 {
  background-image: url("../assets/bg4.gif");
}

.b5 {
  background-image: url("../assets/bg5.gif");
}

.b6 {
  background-image: url("../assets/win.gif");
}

.b7 {
  background-image: url("../assets/lose.gif");
}